<h1 class="text-3xl font-bold text-center my-2">
  <span>Mem game</span>
  <span *ngIf="gameService.isPlaying" class="ml-10 text-green-500" title="HITS">{{ cardService.hits }}</span>
  <span *ngIf="gameService.isPlaying" class="ml-4 text-red-600" title="MISTAKES">{{ cardService.mistakes }}</span>
  <button *ngIf="gameService.isPlaying && cardService.areAllCardsPassed()" mat-raised-button color="primary" class="ml-8" (click)="playAgain()">
    play again
  </button>
  <button *ngIf="gameService.isPlaying && cardService.areAllCardsPassed()" mat-raised-button color="accent" class="ml-2" (click)="prepareGame()">
    play again
  </button>
</h1>

<app-prepare-game *ngIf="isChoosingImages()"></app-prepare-game>
<app-play-game *ngIf="isPlaying()"></app-play-game>


<router-outlet />
